@import "../../../../styles/base/mixins";
@import "../../../../styles/base/variables";

.invoice__add-btn {
  @include flex-container(row, center, flex, nowrap, 0.6rem);
  @include btn(9rem, 4.4rem, $Purple, $white);
  border-radius: 2.4rem;
  font-size: $ft-size-s;
  padding: 0.6rem;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease;

  .invoice {
    display: none;
  }

  &:hover {
    background-color: $Purple-light;
  }

  .add-icon {
    @include btn(3.2rem, 3.2rem, $white, $Purple);
    border-radius: 50%;
    @include flex-container(row, center, center, nowrap, 1.8rem);
  }
}

@media (min-width: 768px) {
  .invoice__add-btn {
    @include btn(13rem, 4.4rem, $Purple, $white);
    .invoice {
      display: inline-block;
    }
  }
}
