@import "../../../styles/base/mixins";
@import "../../../styles/base/variables";

.invoice-form {
  background-color: rgba(0, 0, 0, 0.4);
  position: relative;

  .form {
    @include flex-container(column, flex-start, start, nowrap, null);
    background-color: var(--form-bg);
    width: 100%;
    height: 100%;

    .col-1 {
      @include flex-container(column, flex-start, start, nowrap, 2.4rem);
      padding: 0;

      .navigate {
        @include flex-container(row, start, start, null, 2.4rem);
        width: 100%;
        font-size: $ft-size-s;
        cursor: pointer;
      }

      .title {
        font-size: $ft-size-m;
        font-weight: 600;

        span {
          color: $gray-300;
        }
      }
    }

    .invoice-form-wrapper {
      @include flex-container(column, flex-start, start, null, 2.4rem);
      width: 100%;
      padding: 2.4rem;
      margin-bottom: 12rem;

      .group {
        @include flex-container(column, start, start, null, 2rem);
        width: 100%;
        font-size: $ft-size-s;
        margin-bottom: 2.4rem;

        h5 {
          color: $Purple;
        }

        .location-div {
          @include flex-container(column, start, start, nowrap, 2.4rem);
          // width: 100%;

          .col-1 {
            @include flex-container(row, start, start, null, 2.4rem);
            // width: 100%;
          }
        }

        @media (min-width: 768px) {
          .location-div {
            flex-direction: row;

            & .col-1 {
              width: 200%;
            }
          }
        }

        label {
          @include flex-container(column, start, start, null, 1rem);
          width: 100%;
          color: var(--text-clr-light);

          & .form-item {
            width: 100%;
            height: 4.8rem;
            border-radius: 0.4rem;
            outline: none;
            border: 0.1rem solid #dfe3fa;
            background-color: var(--card-clr);
            color: var(--text-clr);
            font-size: $ft-size-s;
            font-weight: 600;
            line-height: 1.5;
            padding: 0 2rem;

            &::placeholder {
              color: var(--text-clr);
            }
          }
        }

        & .new-item {
          @include flex-container(row, center, center, null, 1.6rem);

          button {
            align-self: center;
            background: none;
            border: none;
            margin-top: 2.6rem;
          }
        }

        & .button {
          @include card(100%, 4.8rem, var(--card-clr), #dfe3fa, 2.4rem);
          outline: none;
          border: 0.1rem solid #dfe3fa;
        }
      }
    }

    .actions {
      @include flex-container(row, center, center, null, 0.7rem);
      @include card(100%, 9.1rem, var(--card-clr), null, null);
      padding: 2.4rem;
      position: fixed;
      bottom: 0;
      width: 100%;
      box-shadow: 0px -15px 40px 2px rgba(0, 0, 0, 0.2);

      .btn {
        @include card(null, 4.8rem, null, $white, 2.4rem);
        border: none;
        font-size: $ft-size-s;
        font-weight: 600;
        padding: 0 2rem;

        &.discard {
          background-color: $detail-card-light;
          color: var(--total);
        }

        &.draft {
          background-color: $Purple-200;
        }

        &.send {
          background-color: $Purple;
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .invoice-form {
    overflow: hidden;
    height: 100vh;

    .form {
      width: 80%;
      border-radius: 0 1.6rem 1.6rem 0;
      overflow: scroll;
      scrollbar-width: none;

      .actions {
        width: 80%;
      }
    }
  }
}

@media (min-width: 1024px) {
  .invoice-form {
    .form {
      width: 70rem;

      .actions {
        width: 70rem;
      }
    }
  }
}
