<div class="invoice-detail-wrapper" *ngIf="invoices$ | async as invoice">
  <div class="invoice-detail">
    <div class="navigate" (click)="navigateBack()">
      <span>
        <img
          src="../../../assets/images/icon-arrow-left.svg"
          alt="arrow left icon"
        />
      </span>
      <p>Go back</p>
    </div>
    <div class="status-div">
      <div class="status">
        <p>Status</p>
        <app-invoice-status [invoice]="invoice" />
      </div>
      <div class="action">
        <app-invoice-actions
          (deleteClicked)="openDeleteModal()"
          (editClicked)="onEdit()"
          [invoice]="invoice"
          (markAsPaid)="onMarkAsPaid(invoiceId)"
        />
      </div>
    </div>
    <div class="details-info">
      <div class="detail-info__col-1">
        <div class="top">
          <span class="invoice-id"><span class="hash">#</span>{{ invoice.id }}</span>
          <span class="invoice-title">{{ invoice.description }}</span>
        </div>
        <address class="address">
          <span>
            {{ invoice.senderAddress.street }}
          </span>
          <span>
            {{ invoice.senderAddress.city }}
          </span>
          <span>
            {{ invoice.senderAddress.postCode }}
          </span>
          <span>
            {{ invoice.senderAddress.country }}
          </span>
        </address>
      </div>

      <div class="invoice-info">
        <div class="invoice-dates">
          <p class="date">
            Invoice Date<br />
            <strong>
              {{ invoice.createdAt | date : "dd MMM yyyy" }}
            </strong>
          </p>
          <p class="date">
            Payment Due<br />
            <strong> {{ invoice.paymentDue | date : "dd MMM yyyy" }} </strong>
          </p>
        </div>
        <div class="invoice-client">
          <p class="client">
            Bill To<br />
            <strong>
              {{ invoice.clientName }}
            </strong>
          </p>

          <address class="address">
            {{ invoice.clientAddress.street }}<br />
            {{ invoice.clientAddress.city }}<br />
            {{ invoice.clientAddress.postCode }}<br />
            United Kingdom
          </address>
        </div>
        <div class="invoice-email">
          Sent to<br />
          <strong>
            {{ invoice.clientEmail }}
          </strong>
        </div>
      </div>

      <div class="invoice-items">
        <div class="item-header">
          <span class="name">Item Name</span>
          <span>QTY.</span>
          <span>Price</span>
          <span>Total</span>
        </div>
        @for (item of invoice.items; track $index) {
        <div class="invoice-items-details">
          <div class="item-row">
            <div class="col-1">
              <span class="description">{{ invoice.description }}</span>
              <div class="detail">
                <span>{{ item.quantity }}</span>
                <span class="x"> x </span>
                <span>{{ item.price }}</span>
              </div>
            </div>
            <span class="total">{{
              item.quantity * item.price | currency : "GBP"
            }}</span>
          </div>
        </div>
        }

        <div class="total-amount">
          <span class="title">Amount Due</span>
          <span class="amount">{{ invoice.total | currency : "GBP" }}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="actions" *ngIf="invoices$ | async as invoice">
    <app-invoice-actions
      (deleteClicked)="openDeleteModal()"
      (editClicked)="onEdit()"
      [invoice]="invoice"
      (markAsPaid)="onMarkAsPaid(invoiceId)"
    />
  </div>

  @if (showDeleteModal) {

  <div class="delete">
    <!-- <app-delete-modal /> -->
    <app-delete-modal
      [invoiceId]="invoice.id"
      (deleteConfirmed)="onDeleteInvoice($event)"
    />
  </div>
  } @if (showForm) {
  <div class="form">
    <app-invoice-form [invoice]="invoice" (close)="closeForm()" />
  </div>
  }
</div>
